.container {
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 16px;
    width: 312px;
    /* Standard sidebar width */
}

.title {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-secondary);
    margin-bottom: 12px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.communityImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-main);
}

.members {
    font-size: 12px;
    color: var(--text-secondary);
}

.joinBtn {
    background-color: #0045AC;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
}

.showMore {
    width: 100%;
    background: none;
    border: none;
    color: #0045AC;
    font-weight: 600;
    padding-top: 16px;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    margin-top: 8px;
}